p {
  font-family: Lato;
}

.textArea1 {
  width : 40%;
  height : 300px;
}

.textArea2 {
  width : 40%;
  height : 300px;
  margin-left : 50px;
}

.textAreaResult{
    width : 40%;
  height : 300px;
  margin-left : 25%;
  border: double black;
}

.compareButton {
  margin-left:40%;
}

.resetButton {
  margin-left:42%;
}